Страница с демонстрацией работы запроса к бакенду, с AsyncPipe в шаблоне.<br>
Вы можете вручную выставить время ответа от бакенда в поле "Время задержки сервера (ms)" и выполнить запрос. Так же можете нажать на кнопку "Перейти на домашнюю страницу"<br>
Так же почитайте и запустите возможные сценарии работы с данный страницей<br>

<br>
<br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Код метода сервиса:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre><code [highlight]="serviceCode"></code></pre>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Код метода компонента:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <pre><code [highlight]="getDataCode"></code></pre>
  </mat-expansion-panel>
</mat-accordion>
<br>
<br>

<div>
  Результат работы <strong>dataService.getDataRx</strong>
</div>
<div class="users-container">
  <div *ngIf="data$ | async as data">
    <div *ngFor="let user of data.users">{{user}}</div>
  </div>
</div>

<div>Время задержки сервера (ms)</div>
<input [(ngModel)]="responseTimeout">
<button (click)="getData()">Получить данные</button>

<div class="clear"></div>
<br>
<br>
<button (click)="goToHome()">Перейти на домашнюю страницу</button>
<br>
<br>
<br>
<br>

<h5>Некоторые возможные кейсы</h5>
<div class="case">
  <div><b>Кейс: </b> Пользователь заходит на страницу и жмет "Получить данные",
    данные на бакенде тяжелые и ответ приходит через 6 секунд, в это время, через 2 секунды, пользователь устав ждать
    нажимает на "Перейти на домашнюю страницу"
  </div>
  <div><b>Итог: </b> <span class="green-text">После ухода со страницы, происходит отписка Async пайпом от запросов к бакенду. Код в блоке tap не выполняется. Никакие лишние операции не выполняются.</span>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Код сценария:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre><code [highlight]="scenariosCode.leave"></code></pre>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="scenarios.leave()">Запустить</button>
</div>

<div class="case">
  <div><b>Кейс:</b> Пользователь заходит на страницу и жмет "Получить данные",
    данные на бакенде "тяжелые" и ответ приходит через 6 секунд, в это время, через 2 секунды, пользователь устав ждать
    нажимает на "Перейти на домашнюю страницу".
    Далее, передумав пользователь решил всё же вернуться обратно на эту страницу.
  </div>
  <div><b>Итог: </b> <span class="green-text">После ухода со страницы, происходит отписка Async пайпом от запросов к бакенду. Код в блоке tap не выполняется.
    Никакие лишние операции не выполняются.
    Первый экземпляр компонента уничтожает сборщик мусора.
    Данные приходят только в текущий экземпляр.</span>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Код сценария:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre><code [highlight]="scenariosCode.leaveAndAgain"></code></pre>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="scenarios.leaveAndAgain()">Запустить</button>
</div>

<div class="case">
  <div><b>Кейс:</b> Пользователь заходит на страницу и жмет "Получить данные", но не увидев никакого эффекта, через 2
    секунды нажал еще 4 раза (итого 5), т.к. сервер работает с задержкой 2 секунды.
    Далее, увидев сообщений о получении данных, через 4.5 секунды, пользователь нажимает на "Перейти на домашнюю страницу".
  </div>
  <div><b>Итог: </b> <span class="green-text">После ухода со страницы, происходит отписка Async пайпом от запросов к бакенду. Код в блоке tap не выполняется.
    Никакие лишние операции не выполняются.<br>
    Пользователь видит только 1 сообщение, т.к. Async пайп отписывается автоматически и имеет только 1 активный запрос.
  </span>

  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Код сценария:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <pre><code [highlight]="scenariosCode.leaveAndAgain"></code></pre>
    </mat-expansion-panel>
  </mat-accordion>
  <button (click)="scenarios.clicker()">Запустить</button>
</div>
