Всем привет! Это небольшая демонстрация различных методик получения данных с http api на Angular.<br>
Цель проекта показать необходимость отписки от запросов к api и показать проблемы которые могут возникнуть (возникают)<br>
Всё сделано быстро и на коленке в свой выходной, есть косяки и отсутствие StyleGuide.<br>
P.S. Мне самому нравится async/await подход для простых, одноразовых, случаев, но невозможность отписываться не оставляет выбора
<br>
<br>
Итак, страницы этого проекта:
<ul>
  <li><b><a routerLink="promise-await">.toPromise() в сервисе и async/await в компоненте</a>.</b></li>
  <li><b><a routerLink="unsubscribe">.subscribe в компоненте и отписки (так же декоратор AutoUnsubscribe и SubSink)</a>.</b></li>
  <li><b><a routerLink="async-pipe">"| async" в шаблоне (AsyncPipe)</a>.</b></li>
</ul>


На каждой странице можно опробовать разные подходы, выставить время задержки, запустить запрос и перейти на другую страницу.<br>
Так же, для наглядности, сделал готовые сценарии вызывающие проблемы.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Так же, собранный мною метариал за некоторое время на эту тему:<br>
<br>

Новости про toPromise, отказаться от него всё равно будет необходимо: <br>
<div><a href="https://morioh.com/p/3653be9c0c51">RxJS heads up: toPromise is being deprecated #1</a></div>
<div><a href="https://indepth.dev/rxjs-heads-up-topromise-is-being-deprecated/">RxJS heads up: toPromise is being deprecated #2</a></div>

<br>
<br>
Статьи на тему:
<div><a href="https://medium.com/ngx/why-do-you-need-unsubscribe-ee0c62b5d21f">Почему вам НАДО отписываться от Observable?</a></div>
<div><a href="https://blog.bloomca.me/2017/12/04/how-to-cancel-your-promise.html">Не поддавайся обману .toPromise()</a></div>

<br>
<br>
Стороннее мнение участника сообщества:
<blockquote>

  Promise нельзя отменить (можно но только в некоторых браузерах (Safari) это API ничего не делает)<br>

  Promise нельзя retry. Нужно заново создать всю цепочку promise.<br>

  Promise не ленивы. Они начинают выполнение сразу после вызова.<br>

  Promise по умолчанию имеет очень примитивное API, которое все равно нужно будет дополнять какой-нибудь библиотекой (при наличии сложных взаимодействий)<br>
</blockquote>

