/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-accordion .mat-expansion-panel {
  width: 900px;
}
.mat-accordion .mat-expansion-panel-header{
  height: 25px;
}
.clear{
  clear: left;
}

.users-container{
  border: 1px solid red;
  height: 400px;
  width: 350px;
  float: left;
}

.case{
  margin-top: 30px;
}
pre{
  width: 850px;
}

.red-text{
  color: red;
}
.green-text {
  color: green;
}

.orange-text {
  color: orange;
}
